body {
background-color: #D0E4F5;
background-image: url("https://cutewallpaper.org/21/black-1920x1080-wallpaper/General-1920x1080-black-black-background-stripes-Black-.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 50% 50%;
}
h1 {
  
}
p {
  color: red;
}
